body.dark {
    background-color: #110038;
}

.dark .bar {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    box-shadow: 0 1px 0 0 #110038;
}

.dark .buttonPink {
    color: #FFFFFF;
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.dark .buttonPink:active {
    background: #CE36DB;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.dark .boxSelect::after {
    background: #EE3EFE;
}

.dark .pBlueRegular.letter {
    color: #FFFFFF;
}

.dark .pBlueRegular.letter:hover {
    border: 1px dotted #ffffff;
}

.dark .pBlueRegular.letter:active {
    color: #808080;
    border: none;
}

.dark .pBlueRegular {
    color: #FFFFFF;
}

.dark .pBlueRegular.button {
    color: #8F8F8F;
}

.dark .loupe {
    position: relative;
}

.dark .search {
    background: #B4B4B4;
}

.dark .findBar {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.dark .findButton {
    background: #B4B4B4;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.dark .findButton:active {
    background: #CE36DB;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.dark .videoHastRandom {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.dark .videoHast {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.dark .videoContainer:hover {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
}

.dark .bigButton {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.dark .bigTitle {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.dark .cancelButton {
    background: #110038;
    border: 1px solid #B4B4B4;
    box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
}

.dark .startButton {
    background: #110038;
    border: 1px solid #B4B4B4;
    box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
}

.dark .boxCapture {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.dark .titleCapture {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.dark .buttonCapture {
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.dark .buttonRepeat {
    background: #110038;
    border: 1px solid #B4B4B4;
    box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
}

.dark .buttonUpload {
    background: #110038;
    border: 1px solid #B4B4B4;
    box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
}

.footer_gif .foo {
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    background-color: #414141;
}